<?xml version="1.0"?>
<!--
/**
 * @package   Infosys/ProductSaleable
 * @version   1.0.0
 * @author    Infosys Limited
 * @copyright Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">    
    <event name="admin_system_config_changed_section_threshold_price_config">
        <observer name="custom_admin_system_config_changed_section_epc_config" instance="Infosys\ProductSaleable\Observer\PriceThresholdChange"/>
    </event>
    <event name="catalog_product_save_after">
        <observer name="product_salable" instance="Infosys\ProductSaleable\Observer\ProductSaleable"/>
    </event>
    <event name="admin_system_config_changed_section_stock_status_config">
        <observer name="custom_admin_system_config_changed_section_stock_status_config" instance="Infosys\ProductSaleable\Observer\StockStatusChange"/>
    </event>
    <event name="catalog_product_save_before">
        <observer name="product_status_update_based_on_aap" instance="Infosys\ProductSaleable\Observer\ProductStatusUpdate"/>
    </event>
    <event name="admin_system_config_changed_section_epcconnect_hideaap">
        <observer name="custom_admin_system_config_changed_section_epcconnect_hideaap_config" instance="Infosys\ProductSaleable\Observer\ProductsStatusChange"/>
    </event>
</config>
