<?xml version="1.0"?>
<!--
/**
 * @package   Infosys/Reports
 * @version   1.0.0
 * @author    Infosys Limited
 * @copyright Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Reports::report" title="Reports" translate="title" sortOrder="70">
                    <resource id="Magento_Reports::salesroot" title="Sales" translate="title" sortOrder="40">
                    <resource id="Infosys_Reports::report_sales_performance" title="Sales Performance" translate="title" sortOrder="10" />
                    </resource>
                     <resource id="Magento_Reports::report_marketing" title="Marketing" translate="title" sortOrder="30">
                        <resource id="Infosys_Reports::report_web_analytics" title="Web Analytics" translate="title" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>