<?xml version="1.0"?>
<!--
/**
 * @package     Infosys/DirectFulFillment
 * @version     1.0.0
 * @author      Infosys Limited
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="Infosys_DirectFulFillment_sales_order_place_before"
           instance="Infosys\DirectFulFillment\Observer\OrderPlacebefore"/>
    </event>
    <event name="xtento_trackingimport_mapping_get_actions">
        <observer name="Infosys_DirectFulFillment_sales_order_import_action"
           instance="Infosys\DirectFulFillment\Observer\AdditionalImportActions"/>
    </event>
    <event name="xtento_orderexport_export_after">
        <observer name="Infosys_DirectFulFillment_orderexport_after"
           instance="Infosys\DirectFulFillment\Observer\OrderExportAfter"/>
    </event>
    <event name="xtento_trackingimport_mapping_get_fields">
        <observer name="add_additional_import_fields" instance="Infosys\DirectFulFillment\Observer\AdditionalImportFields" />
    </event>
    <event name="xtento_trackingimport_process_order_before">
        <observer name="add_additional_order_data" instance="Infosys\DirectFulFillment\Observer\OrderData" />
    </event>
</config>