<?xml version="1.0"?>
<!--
/**
 * @package     Infosys/StorePickUp
 * @version     1.0.0
 * @author      Infosys Limited
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\QuoteGraphQl\Model\Resolver\ShippingAddress\AvailableShippingMethods">
        <plugin name="add_pickup_address" type="Infosys\StorePickUp\Plugin\ShippingAddress\AvailableShippingMethods"/>
    </type>
</config>