<?xml version="1.0"?>
<!--
/**
 * @package     Infosys/OrderEmailTemplates
 * @version     1.0.0
 * @author      Infosys Limited
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Block\Order\Email\Items\Order\DefaultOrder" type="Infosys\OrderEmailTemplates\Block\Order\Email\Items\Order\DefaultOrder" />
    <preference for="Magento\Sales\Block\Order\Email\Items\DefaultItems" type="Infosys\OrderEmailTemplates\Block\Order\Email\Items\DefaultItems" />
	<type name="\Magento\Framework\Mail\Template\TransportBuilder">
        <plugin name="AddReplyToEmailPlugin" type="Infosys\OrderEmailTemplates\Plugin\Mail\Template\TransportBuilder" sortOrder="1" />
    </type>
	<type name="Infosys\OrderEmailTemplates\Logger\OrderEmailLogger">
        <arguments>
            <argument name="name" xsi:type="string">OrderEmailLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Infosys\OrderEmailTemplates\Logger\OrderEmailHandler</item>
            </argument>
        </arguments>
    </type>
</config>