<?xml version="1.0"?>
<!--
/**
 * @package   Infosys/XtentoProductExport
 * @version   1.0.0
 * @author    Infosys Limited
 * @copyright Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <products_export_xtento>
            <general>
                <active>0</active>
            </general>
            <logging_errors>
                <active>0</active>
            </logging_errors>
        </products_export_xtento>
    </default>
</config>