<?xml version="1.0"?>
<!--
/**
 * @package     Infosys/EPCconnect
 * @version     1.0.0
 * @author      Infosys Limited
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogImportExport\Model\Import\Product" type="Infosys\EPCconnect\Model\Import\Product" />
    <preference for="Magento\CatalogImportExport\Model\Import\Uploader" type="Infosys\EPCconnect\Model\Import\Uploader" />
    <preference for="Magento\CatalogImportExport\Model\Import\Product\Validator" type="Infosys\EPCconnect\Model\Import\Product\Validator" />
    <preference for="Magento\CatalogImportExport\Model\Import\Product\CategoryProcessor" type="Infosys\EPCconnect\Model\Import\Product\CategoryProcessor" />
    <preference for="Magento\CatalogUrlRewrite\Observer\AfterImportDataObserver" type="Infosys\EPCconnect\Observer\AfterImportDataObserver" />
</config>