<?xml version="1.0"?>
<!--
/**
 * @package     Infosys/CustomOrderNumber
 * @version     1.0.0
 * @author      Infosys Limited
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customordernumber>
                <general>
                    <enabled>1</enabled>
                    <prefix>T</prefix>
                </general>
        </customordernumber>
    </default>
</config>
