<?xml version="1.0"?>
<!--
/**
 * @package     Infosys/XtentoOrderExport
 * @version     1.0.0
 * @author      Infosys Limited
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Xtento\OrderExport\Block\Adminhtml\Destination\Edit\Tab\Configuration">
        <plugin name="destination_custom_fields" type="Infosys\XtentoOrderExport\Plugin\Block\Adminhtml\Destination\Edit\Tab\Configuration" sortOrder="1"/>
    </type>
</config>