<?xml version="1.0"?>
<!--
/**
 * @package   Infosys/VehicleFitment
 * @version   1.0.0
 * @author    Infosys Limited
 * @copyright Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vehicle_fitment_config>
            <logging_errors>
                <active>0</active>
            </logging_errors>
            <general>
                <batch_size>500</batch_size>
            </general>
        </vehicle_fitment_config>
    </default>
</config>