<?xml version="1.0"?>
<!--
/**
 * @package     Infosys/RateLimiting
 * @version     1.0.0
 * @author      Infosys Limited
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>        
        <section id="system">
            <group id="full_page_cache">
                <group id="fastly" translate="label" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="615">          
                    <group id="fastly_rate_limiting_settings" sortOrder="460" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0">
                        <group id="path_protection" sortOrder="15" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0">
                            <field id="protected_path_cached" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                                <label>Allow Protected Paths to be Cached</label>
                                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                <comment>This will allow protected paths to be cached in fastly if they are cache-able.  Rate limiting will only increment it's counter on requests that make it to the Adobe Commerce Server.
                            </comment>
                            </field>
                        </group>
                    </group>
                </group>
            </group>    
        </section>
    </system>
</config>