<!--
/**
 * @package     Infosys/ProductSaleable
 * @version     1.0.0
 * @author      Infosys Limited
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <threshold_price_config>
            <threshold_price_group>
                <threshold_price>0.01</threshold_price>
            </threshold_price_group>
        </threshold_price_config>
        <stock_status_config>
            <stock_status_group>
                <stock_status>1</stock_status>
            </stock_status_group>
        </stock_status_config>
    </default>
</config>