<?xml version="1.0"?>
<!--
/**
 * @package     Infosys/ProductsByVin
 * @version     1.0.0
 * @author      Infosys Limited
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="epc_config" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40" translate="label">
            <label>Vehicle</label>
            <tab>toyota</tab>
            <resource>Infosys_Vehicle::vehicle</resource>
            <group id="search_customizations" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Search Customizations</label>
                <field id="enable_search_by_vin" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Search by Vin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_search_suggestions" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Search Suggestions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>