<?xml version="1.0"?>
<!--
/**
 * @package     Infosys/CheckoutVIN
 * @version     1.0.0
 * @author      Infosys Limited
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="infosys_checkoutvin_sales_model_service_quote_submit_before" instance="Infosys\CheckoutVIN\Observer\SaveVinDetails" />
    </event>
</config>