<?xml version="1.0"?>
<!--
/**
 * @package     Infosys/CheckoutVIN
 * @version     1.0.0
 * @author      Infosys Limited
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Infosys_CheckoutVIN" setup_version="2.1.0">
        <sequence>s
            <module name="Magento_GraphQl"/>
        </sequence>
    </module>
</config>
