<?xml version="1.0"?>
<!--
/**
 * @package     Infosys/VehicleFitment
 * @version     1.0.0
 * @author      Infosys Limited
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="vehicle_fitment_config" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40" translate="label">
            <label>Vehicle Fitment</label>
            <tab>toyota</tab>
            <resource>Infosys_VehicleFitment::vehicle_fitment</resource>
            <group id="general" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="batch_size" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Batch size</label>
                </field>
            </group>
            <group id="logging_errors" translate="label" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Logs</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable/Disable Logs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>