<?xml version="1.0"?>
<!--
/**
 * @package     Infosys/VehicleSearch
 * @version     1.0.0
 * @author      Infosys Limited
 * @copyright   Copyright © 2022. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="epc_config">
            <group id="vehicle_aggregations">
                <field id="model_year_code_override" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>model_year_code Override</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If model_year_code filter is passed into products graphql, ignore other vehicle filters</comment>
                </field>
            </group>
        </section>
    </system>
</config>