<?xml version="1.0"?>
<!--
/**
 * @package   Infosys/DealerChanges
 * @version   1.0.0
 * @author    Infosys Limited
 * @copyright Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dealer_changes" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="30" translate="label">
            <label>Sales Order Grid</label>
            <tab>toyota</tab>
            <resource>Infosys_DealerChanges::dealer_default_view</resource>
            <group id="dealer_grid_columns" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Dealer Grid Columns</label>
                <field id="dealer_grid_data" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" type="textarea">
                    <label>Dealer Grid Data</label>
                </field>
            </group>
        </section>
    </system>
</config>