<?xml version="1.0"?>
<!--
/**
 * @package     Infosys/XtentoProductExport
 * @version     1.0.0
 * @author      Infosys Limited
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- overrding the file to filter the product in google feed  -->
    <preference for="Xtento\ProductExport\Model\Export\Entity\Product" type="Infosys\XtentoProductExport\Model\Export\Entity\Product" />
    <type name="Infosys\XtentoProductExport\Logger\ProductExportLogger">
        <arguments>
            <argument name="name" xsi:type="string">ProductExportLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Infosys\XtentoProductExport\Logger\ProductExportHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Xtento\ProductExport\Block\Adminhtml\Profile\Edit\Tab\Filters">
        <plugin name="include_in_feed" type="Infosys\XtentoProductExport\Plugin\Block\Adminhtml\Profile\Edit\Tab\Filters" sortOrder="1"/>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="displayMissingStores" xsi:type="object">Infosys\XtentoProductExport\Console\Command\DisplayMissingStores</item>
                <item name="createGoogleProfiles" xsi:type="object">Infosys\XtentoProductExport\Console\Command\CreateGoogleProfiles</item>
                <item name="updateGoogleProfiles" xsi:type="object">Infosys\XtentoProductExport\Console\Command\UpdateGoogleProfiles</item>
            </argument>
        </arguments>
    </type>
    <type name="Xtento\ProductExport\Model\Output\Xsl">
        <plugin name="ReplaceCustomVariablesAfterConvertData" type="Infosys\XtentoProductExport\Plugin\ReplaceCustomVariablesAfterConvertData"/>
    </type>
    <preference for="Xtento\ProductExport\Model\Export\Data\Product\General" type="Infosys\XtentoProductExport\Model\Export\Data\Product\General" />
</config>
